<section class="about-me-content">
  <div>
    <div class="ripped-content">
      <div class="ripped-yellow">
        <img src="./../../../assets/img/Ripped paper yellow.png" alt="" />
        <div>
          <img src="./../../../assets/img/based-icon.png" alt="" />
          <h3>{{'about-me.ripped-text.ripped-text_1'| translate}}</h3>
        </div>
      </div>
      <div class="ripped-blue">
        <img src="./../../../assets/img/Ripped paper blue.png" alt="" />
        <div>
          <img src="./../../../assets/img/relocate-icon.png" alt="" />
          <h3>{{'about-me.ripped-text.ripped-text_2'| translate}}</h3>
        </div>
      </div>
      <div class="ripped-orange">
        <img src="./../../../assets/img/Ripped paper orange.png" alt="" />
        <div>
          <img src="./../../../assets/img/remote-icon.png" alt="" />
          <h3>{{'about-me.ripped-text.ripped-text_3'| translate}}</h3>
        </div>
      </div>
    </div>
    <div>
      <h3>{{'about-me.title.title_1'| translate}}</h3>
      <div>
        <h1>{{'about-me.title.title_2'| translate}}</h1>
        <img src="./../../../assets/img/Blue line.png" alt="">
      </div>

      <span
        >{{'about-me.description.description-text_1'| translate}}
        <br />
        <br />
        {{'about-me.description.description-text_2'| translate}}</span
      >
      <div class="about-me-talk">
        <button (click)="goTo('contact-me')">{{'about-me.contact-me'| translate}}</button>
      </div>
    </div>
  </div>
</section>
