<section class="about-me-content">
  <div>
    <div class="ripped-content">
      <div class="ripped-yellow">
        <img src="./../../../assets/img/Ripped paper yellow.png" alt="" />
        <div>
          <img src="./../../../assets/img/based-icon.png" alt="" />
          <h3>Based in Sulzbach an der Murr</h3>
        </div>
      </div>
      <div class="ripped-blue">
        <img src="./../../../assets/img/Ripped paper blue.png" alt="" />
        <div>
          <img src="./../../../assets/img/relocate-icon.png" alt="" />
          <h3>Open to relocate</h3>
        </div>
      </div>
      <div class="ripped-orange">
        <img src="./../../../assets/img/Ripped paper orange.png" alt="" />
        <div>
          <img src="./../../../assets/img/remote-icon.png" alt="" />
          <h3>Open to work remote</h3>
        </div>
      </div>
    </div>
    <div>
      <h3>WHO's EMRE</h3>
      <div>
        <h1>About me</h1>
        <img src="./../../../assets/img/Blue line.png" alt="">
      </div>

      <span
        >Hey there, I'm Emre. Write some information about yourself that is IT
        related. Why are you passionate about coding? What is your source of
        inspiration for improving your programming skills? Do you learn from
        each challenge as you search for the most efficient or elegant solution?
        <br />
        <br />
        Let’s collaborate and build something remarkable together!</span
      >
      <div class="about-me-talk">
        <button>Let's talk</button>
      </div>
    </div>
  </div>
</section>
