<section class="section-testimonials">
  <div>
    <div>
      <img src="./../../../assets/img/testimonials/arrow.png" alt="" />
      <h3>IN THEIR WORDS:</h3>
    </div>
    <h1>Colleagues' Thoughts</h1>
  </div>

  <div class="testimonials-cards">

    <div>
      <img class="testimonials-img-one" src="./../../../assets/img/testimonials/rectangle-1.png" alt="" />
      <div class="testimonials-content testimonial-one">
        <span
          >Karl really kept the team together with his great organization and
          clear communication. We wouldn't have got this far without his
          commitment.</span
        >
        <div>
          <div>
            <h3>Tobias Lange</h3>
            <h3>Frontend Developer</h3>
          </div>
          <img
            src="./../../../assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <img class="testimonials-img-two" src="./../../../assets/img/testimonials/rectangle-2.png" alt="" />
      <div class="testimonials-content testimonial-two">
        <span
          >It was a great pleasure to work with Karl. He knows how to push and
          encourage team members to present the best work possible, always
          adding something to brainstorm. Regarding the well-being of group
          members, he was always present and available to listen and help
          others, with a great sense of humor as well.</span
        >
        <div>
          <div>
            <h3>Maria Schäfer</h3>
            <h3>Frontend Developer</h3>
          </div>
          <img
            src="./../../../assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <img class="testimonials-img-three" src="./../../../assets/img/testimonials/rectangle-1.png" alt="" />
      <div class="testimonials-content testimonial-three">
        <span
          >Karl was a top team colleague at DA. His positive commitment and
          willingness to take on responsibility made a significant contribution
          to us achieving our goals.</span
        >
        <div>
          <div>
            <h3>David Braun</h3>
            <h3>Frontend Developer</h3>
          </div>
          <img
            src="./../../../assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

  </div>
</section>
