<section class="section-testimonials">
  <div>
    <div>
      <img src="./assets/img/testimonials/arrow.png" alt="" />
      <h3>{{'colleague-thoughts.title.title_1'| translate}}</h3>
    </div>
    <h1>{{'colleague-thoughts.title.title_2'| translate}}</h1>
  </div>

  <div class="testimonials-cards">

    <div>
      <img class="testimonials-img-one" src="./assets/img/testimonials/rectangle-1.png" alt="" />
      <img class="testimonials-img-one"  src="./assets/img/testimonials/testimonials-hover.png" alt="">
      <div class="testimonials-content testimonial-one">
        <span
          >{{'colleague-thoughts.colleague_1.feedback'| translate}}</span
        >
        <div>
          <div>
            <h3>{{'colleague-thoughts.colleague_1.name'| translate}}</h3>
            <h3>{{'colleague-thoughts.colleague_1.role'| translate}}</h3>
          </div>
          <img
            src="./assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <img class="testimonials-img-two" src="./assets/img/testimonials/rectangle-2.png" alt="" />
      <img class="testimonials-img-two"  src="./assets/img/testimonials/testimonials-hover.png" alt="">
      <div class="testimonials-content testimonial-two">
        <span
          >{{'colleague-thoughts.colleague_2.feedback'| translate}}</span
        >
        <div>
          <div>
            <h3>{{'colleague-thoughts.colleague_2.name'| translate}}</h3>
            <h3>{{'colleague-thoughts.colleague_2.role'| translate}}</h3>
          </div>
          <img
            src="./assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <img class="testimonials-img-three" src="./assets/img/testimonials/rectangle-1.png" alt="" />
      <img class="testimonials-img-three"   src="./assets/img/testimonials/testimonials-hover.png" alt="">
      <div class="testimonials-content testimonial-three">
        <span
          >{{'colleague-thoughts.colleague_3.feedback'| translate}}</span
        >
        <div>
          <div>
            <h3>{{'colleague-thoughts.colleague_3.name'| translate}}</h3>
            <h3>{{'colleague-thoughts.colleague_3.role'| translate}}</h3>
          </div>
          <img
            src="./assets/img/testimonials/linkedIn-profile.png"
            alt=""
          />
        </div>
      </div>
    </div>

  </div>
</section>
