.header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  > svg {
    width: 45px;
    height: 45px;
  }
  > a {
    font-size: 20px;
    font-family: "Bricolage";
    color: white;
    text-decoration: none;
  }
}

.language-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    > svg:first-child {
      position: absolute;
      right: 48px;
    }
  }
  > h3:first-child {
    color: rgba(248, 122, 85, 1);
  }
  > h3 {
    font-family: "Bricolage";
    font-size: 16px;
    color: white;
  }
}


