.header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: 20px;
}


.header-mobile-content {
  display: none;
  @media (max-width: 850px) {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  
  @media (max-width: 850px) {
    display: none;
  }
  > img {
    width: 45px;
    height: 45px;
  }

  > div {
  }
}

.about-me-a {
  position: relative;

  > a {
    font-family: "Bricolage";
    font-size: 16px;
    color: white;
    text-decoration: none;
  }

  > img {
    position: absolute;
    width: 150px;
    left: -20px;
    top: -20px;
    z-index: -1;

    clip-path: inset(0 100% 0 0);

    transition: clip-path 0.5s ease;
  }

  &:hover > img {
    clip-path: inset(0 0 0 0);
  }
}

.skills-a {
  position: relative;

  > a {
    font-family: "Bricolage";
    font-size:  16px;
    color: white;
    text-decoration: none;
  }

  > img {
    position: absolute;
    width: 105px;

    left: -30px;
    top: -25px;
    z-index: -1;

    clip-path: inset(0 100% 0 0);

    transition: clip-path 0.5s ease;
  }

  &:hover > img {
    clip-path: inset(0 0 0 0);
  }
}

.projects-a {
  position: relative;

  > a {
    font-family: "Bricolage";
    font-size:  16px;
    color: white;
    text-decoration: none;
  }

  > img {
    position: absolute;
    width: 120px;
    left: -20px;
    top: -15px;
    z-index: -1;

    clip-path: inset(0 100% 0 0);

    transition: clip-path 0.5s ease;
  }

  &:hover > img {
    clip-path: inset(0 0 0 0);
  }
}
.contact-a {
  position: relative;

  > a {
    font-family: "Bricolage";
    font-size:  16px;
    color: white;
    text-decoration: none;
  }

  > img {
    position: absolute;
    width: 120px;
    left: -20px;
    top: -10px;
    z-index: -1;

    clip-path: inset(0 100% 0 0);

    transition: clip-path 0.5s ease;
  }

  &:hover > img {
    clip-path: inset(0 0 0 0);
  }
}

.language-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    > svg:first-child {
      position: absolute;
      right: 48px;
    }
  }
  > h3:first-child {
    color: rgba(248, 122, 85, 1);
  }
  > h3 {
    font-family: "Bricolage";
    font-size: 12px;
    color: white;
        margin: 0 0 0;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
