.project-showcase-background {
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-image: url("/assets/img/project-showcase/showcase-background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: fit-content;
  background-color: rgb(29, 29, 29);

  @media (max-width: 1250px) {
    background-image: url("/assets/img/project-showcase/showcase-background-rotate.png");
    background-position: 50% -40px;
    height: 1000px;
  }

  @media (max-width: 750px) {
    height: 1000px;
    background-position: 50% 0 !important;
  }

  @media (max-width: 400px) {
    background-image: url("/assets/img/project-showcase/showcase-mobile-background.png");

    height: 1200px;
    background-position: 50% 0px;
  }
}

