<section class="section-projects">
  <div class="projects-content">
    <h3>{{ "my-projects.title.title_1" | translate }}</h3>
    <div>
      <h1>{{ "my-projects.title.title_2" | translate }}</h1>
      <img src="./../../../assets/img/my-projects/linear.png" alt="" />
    </div>
    <span>{{ "my-projects.description" | translate }}</span>
  </div>
  <div class="join-content">
    <div (mouseenter)="laptopHover = true" (mouseleave)="laptopHover = false">
      @if (!laptopHover) {
      <img
        class="laptop-animation-no-hover"
        src="./../../../assets/img/my-projects/laptop.png"
        alt=""
      />
      } @else {
      <img
        class="laptop-animation-hover"
        src="./../../../assets/img/my-projects/laptop.png"
        alt=""
      />
      }

      <img src="./../../../assets/img/my-projects/sticker.png" alt="" />
      <div></div>
      <div class="project-detail-desktop-button">
        <button (click)="goToProject(2)">
          {{ "my-projects.button" | translate }}
        </button>
      </div>
    </div>
    <h3>{{ "my-projects.project_2.title" | translate }}</h3>
    <span>{{ "my-projects.project_2.description" | translate }} </span>
    <div class="project-detail-mobile-button">
      <button (click)="goToProject(2)">
        {{ "my-projects.button" | translate }}
      </button>
    </div>
  </div>
  <div class="epl-content">
    <div>
      <img src="./../../../assets/img/my-projects/el-pollo-loco.jpg" alt="" />
      <div></div>
      <div class="project-detail-desktop-button">
        <button (click)="goToProject(1)">
          {{ "my-projects.button" | translate }}
        </button>
      </div>
    </div>
    <h3>{{ "my-projects.project_1.title" | translate }}</h3>
    <span> {{ "my-projects.project_1.description" | translate }}</span>
    <div class="project-detail-mobile-button">
      <button (click)="goToProject(1)">
        {{ "my-projects.button" | translate }}
      </button>
    </div>
  </div>
  <div class="other-content">
    <div>
      <img src="./../../../assets/img/my-projects/PokeDex_1.jpg" alt="" />
      <div></div>
      <div class="project-detail-desktop-button">
        <button (click)="goToProject(3)">
          {{ "my-projects.button" | translate }}
        </button>
      </div>
    </div>
    <h3>{{ "my-projects.project_3.title" | translate }}</h3>
    <span>{{ "my-projects.project_3.description" | translate }}</span>
    <div class="project-detail-mobile-button">
      <button (click)="goToProject(3)">
        {{ "my-projects.button" | translate }}
      </button>
    </div>
  </div>
</section>
