.section-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 3dvb;
  margin-top: 200px;
  margin-bottom: 50px;
  gap: 30px 200px;

  > div {
    width: 500px;
    height: 500px;
    @media (max-width: 1275px) {
      height: auto;
    }
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 40px;
  > h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  > div {
    > h1 {
      font-weight: 700;
      font-size: 64px;
      margin-block-start: 1rem;
      margin-block-end: 1.5rem;
    }
    > img {
      width: 250px;
      height: 20px;
      animation: line 3.5s linear infinite;
      transition: clip-path 0.5s ease;
    }
  }

  > span {
    margin-block-start: 2rem;
  }
}

@keyframes line {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.join-content {
  > h3 {
    font-weight: 600;
  }
  > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 520px;
    height: 400px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    @media (max-width: 700px) {
      width: 100%;
      height: 250px;
    }

    > img:first-child {
      width: 500px;
      height: 300px;
      --move-up: -20px;
      object-fit: cover;
      animation: updown 1.5s linear infinite alternate;
      transform-origin: right top;
      transition: transform 2.4s cubic-bezier(0.4, 0, 0.2, 1);
      @media (max-width: 700px) {
        width: 100%;
        height: auto;
      }
    }

    > img:nth-child(2) {
      position: absolute;
      top: 220px;
      left: 20px;
      width: 140px !important;
      height: 140px;
      @media (max-width: 700px) {
        top: 55%;
        left: 10%;
        width: 100px !important;
        height: 100px;
      }
      @media (max-width: 500px) {
        top: 65%;
        left: 10%;
        width: 70px !important;
        height: 70px;
      }
    }

    &:hover > img:first-child {
      --move-up: 0;
      animation-play-state: paused;
      transform: scale(1.05) translateY(var(--move-up));
    }

    > div:nth-child(3) {
      position: absolute;
      width: 100%;
      height: 40%;
      border-radius: 0 0 0 50px;
      top: 240px;

      @media (max-width: 500px) {
        top: 180px;

        z-index: 3;
      }
      @media (max-width: 400px) {
        top: 155px;

        z-index: 3;
      }
      @media (max-width: 350px) {
        top: 135px;

        z-index: 3;
      }
    }

    > div:last-child {
      position: absolute;
      display: none;
      top: 80%;
      right: 10%;
    }
    &:hover > div:nth-child(3) {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.37), transparent);
    }
    &:hover > div:last-child {
      display: flex;
    }
  }
}

@keyframes updown {
  to {
    transform: translateY(var(--move-up, 0));
  }
}

.epl-content {
  > h3 {
    font-weight: 600;
  }
  > span {
  }
  > div:first-of-type {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    @media (max-width: 700px) {
      border-radius: 30px;
      height: auto;
    }
    > div {
      position: absolute;
      width: 100%;
      height: 40%;
      border-radius: 0 0 0 50px;
      top: 230px;
      @media (max-width: 700px) {
        border-radius: 0 0 0 30px;
        top: 70px;
        height: 100%;
      }
    }
    > div:last-child {
      position: absolute;
      display: none;
      top: 75%;
      right: 10%;
    }
    > img {
      width: 100%;
      height: 355.59px;
      border-radius: 50px;
      object-fit: cover;
      transform-origin: right top;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      @media (max-width: 700px) {
        border-radius: 30px;
        height: auto;
      }
    }

    &:hover > img {
      transform: scale(1.05);
    }
    &:hover > div:nth-child(2) {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    }
    &:hover > div:last-child {
      display: flex;
    }
  }
}
.other-content {
  @media (max-width: 1275px) {
    margin-bottom: 100px;
  }
  > span {
    margin-block-end: 2rem;
  }
  > h3 {
    font-weight: 600;
  }
  > div:first-of-type {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    @media (max-width: 700px) {
      border-radius: 30px;
      height: auto;
    }
    > div {
      position: absolute;
      width: 100%;
      height: 40%;
      border-radius: 0 0 0 50px;
      top: 230px;

      @media (max-width: 500px) {
        top: 180px;

        z-index: 3;
      }
      @media (max-width: 400px) {
        top: 155px;

        z-index: 3;
      }
      @media (max-width: 350px) {
        top: 135px;

        z-index: 3;
      }
    }
    > div:last-child {
      position: absolute;
      display: none;
      top: 75%;
      right: 10%;
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform-origin: right top;
      transition: transform 0.3s ease;
      @media (max-width: 700px) {
        height: auto;
      }
      &:hover {
        box-shadow: inset 0 -60px 0 0 black !important;
      }
    }
    &:hover > img {
      transform: scale(1.05);
    }
    &:hover > div:nth-child(2) {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    }
    &:hover > div:last-child {
      display: flex;
    }
  }
}

.project-detail-mobile-button {
  display: none;
  @media (max-width: 1275px) {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    > button {
      width: 120px;
      height: 35px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
      box-shadow: 2px 4px #000000;
      font-size: 14px;
      transition: all 0.1s;
      transform-origin: right bottom;
      &:hover {
        box-shadow: none;

        background-color: rgb(248, 122, 85);
        transform: translate(4px, 4px);
      }
    }
  }
}

.project-detail-desktop-button {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  > button {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    background-color: rgba(255, 254, 254, 0);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 4px #ffffff;
    font-size: 16px;
    transition: all 0.1s;
    transform-origin: right bottom;
    color: white;
    &:hover {
      box-shadow: none;

      background-color: rgb(248, 122, 85);
      transform: translate(4px, 4px);
    }
  }

  @media (max-width: 1275px) {
    display: none;
  }
}
