<section class="section-projects">
  <div class="projects-content">
    <h3>MY CRAFT</h3>
    <div>
      <h1>Projects</h1>
      <img src="./../../../assets/img/my-projects/linear.png" alt="" />
    </div>
    <span
      >Encourage people to take a look and interact with your projects.
      Highlight your approach to creating responsive, user-friendly projects
      with efficient code.</span
    >
  </div>
  <div class="join-content">
    <div>
      <img src="./../../../assets/img/my-projects/laptop.png" alt="" />
      <img src="./../../../assets/img/my-projects/sticker.png" alt="" />
    </div>
    <h3>Join</h3>
    <span
      >Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </span>
  </div>
  <div class="epl-content">
    <div>
      <img src="./../../../assets/img/my-projects/el-pollo-loco.jpg" alt="" />
      <div></div>
    </div>
    <h3>El Pollo Loco</h3>
    <span>
      Jump, run and throw game based on object-oriented approach. Help Pepe to
      find coins and tabasco salsa to fight against the crazy hen.</span
    >
  </div>
  <div class="other-content">
    <div>
      <img src="./../../../assets/img/my-projects/DA-Bubble.jpg" alt="" />
      <div></div>
    </div>
    <h3>Join</h3>
    <span
      >This App is a Slack Clone App. It revolutionizes team communication and
      collaboration with its intuitive interface, real-time messaging, and
      robust channel organization.</span
    >
  </div>
</section>
