<app-header></app-header>
<section class="hero-background">
  <img src="./../../../assets/img/hero-background.png" alt="" />
</section>

<section class="t-p-section">
  <div>
    <div class="main-wrapper">
      <button >Hello world</button>

      <div class="frontend-wrapper">
        <div>
          <span>F</span>
          <span>r</span>
          <span>o</span>
          <span>n</span>
          <span>t</span>
          <span>e</span>
          <span>n</span>
          <span>d</span>
        </div>
        <div class="polaroid">
          <img
            src="./../../../assets/img/Polaroid-Frame-Mockup copia 1.png"
            alt=""
          />
          <span>Emre :)</span>
        </div>
      </div>
      <div class="dev-wrapper">
        <div>
          <span>D</span>
          <span>E</span>
          <span>V</span>
          <span>E</span>
          <span>L</span>
          <span>O</span>
          <span>P</span>
          <span>E</span>
          <span>R</span>
        </div>
      </div>
    </div>
    <div>
      <button>Get in touch</button>
    </div>
    <div class="polaroid-mobile">
      <img
        src="./../../../assets/img/Polaroid-Frame-Mockup copia 1.png"
        alt=""
      />
      <span>Emre :)</span>
    </div>
  </div>
</section>

<section class="socials-section">
  <div>
    <button>
      <img src="./../../../assets/img/linked-In.png" alt="" />
    </button>
    <button>
      <img src="./../../../assets/img/github.png" alt="" />
    </button>
    <button>
      <img src="./../../../assets/img/mail.png" alt="" />
    </button>
  </div>
</section>

<section class="photo-section"></section>
