<app-header></app-header>
<section class="hero-background">
  <img src="./../../../assets/img/hero-background.png" alt="" />
</section>

<section class="t-p-section">
  <div>
    <div class="main-wrapper">
      <div>
        <img [class.roll-out] = "helloWorldHover" [class.roll-in] = "rollIn"  src="./../../../assets/img/hero/waving_hand.png" alt="">
        <button
           (click)="goTo('about')"
          (mouseenter)="helloWorldHover = true; rollIn = false"
          (mouseleave)="helloWorldHover = false; rollIn = true"
        >
          @if (helloWorldHover) {I'M EMRE ISCAN } @else { Hello world }
        </button>
      </div>

      <div class="frontend-wrapper">
        <div>
          <span
            *ngFor="
              let item of firstWrapper;
              let isFirst = first;
              let i = index
            "
            (mouseenter)="onMouseEnter(i)"
            (mouseleave)="onMouseLeave()"
            [class.firstLetter]="isFirst"
            [class.active]="hoveredIndex === i"
            >{{ item }}</span
          >

        </div>
        <div class="polaroid">
          <img
            src="./../../../assets/img/Polaroid-Frame-Mockup copia 1.png"
            alt=""
          />
          <span>Emre :)</span>
        </div>
      </div>
      <div class="dev-wrapper">
        <div>
          <span *ngFor="let item of secondWrapper">{{ item }}</span>
        </div>
      </div>
    </div>
    <div>
      <button (click)="goTo('contact-me')">Get in touch</button>
    </div>
    <div class="polaroid-mobile">
      <img
        src="./../../../assets/img/Polaroid-Frame-Mockup copia 1.png"
        alt=""
      />
      <span>Emre :)</span>
    </div>
  </div>
</section>

<section class="socials-section">
  <div>
    <button>
      <img src="./../../../assets/img/linked-In.png" alt="" />
    </button>
    <button>
      <img src="./../../../assets/img/github.png" alt="" />
    </button>
    <button>
      <img src="./../../../assets/img/mail.png" alt="" />
    </button>
  </div>
</section>

<section class="photo-section"></section>
