<section class="section-background">
  <img src="./../../../assets/img/skills/skills-background.png" alt="" />
</section>

<section class="section-skills">
  <div>
    <div>
      <div class="skill-set-header">
        <div><h2>MY STACK</h2></div>
        <div>
          <h1>Skill set</h1>
          <img src="./../../../assets/img/skills/circle-skills.png" alt="" />
        </div>
      </div>
      <div class="skills-introduction">
        <img src="./../../../assets/img/skills/skills-papel.png" alt="" />
        <span
          >A short introduction of your skills. Highlight your experience of
          using different front-end technologies and emphasise your openness to
          learning and adapting to new technologies.
        </span>
      </div>
    </div>
    <div class="skills-set">
      <div>
        <div>
          <img src="./../../../assets/img/skills/HTML.png" alt="" />
          <h3>HTML</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/CSS.png" alt="" />
          <h3>CSS</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Js.png" alt="" />
          <h3>JavaScript</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Ts.png" alt="" />
          <h3>TypeScript</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Angular.png" alt="" />
          <h3>Angular</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Firebase.png" alt="" />
          <h3>Firebase</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Git.png" alt="" />
          <h3>Git</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Rest-Api.png" alt="" />
          <h3>REST-API</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Scrum.png" alt="" />
          <h3>Scrum</h3>
        </div>
        <div>
          <img src="./../../../assets/img/skills/Material_Design.png" alt="" />
          <h3>Material Design</h3>
        </div>
      </div>
    </div>
    <div class="section-sticker">
      <img src="./../../../assets/img/skills/interested-sticker.png" alt="" />
    </div>
  </div>
</section>
