<section [class.active]="otherLayout" class="footer-wrapper">
  <div>
    <img
      (click)="goToStartPage()"
      (mouseenter)="onHover = true"
      (mouseleave)="onHover = false"
      [src]="
        onHover
          ? './assets/img/footer/logo-hover.svg'
          : ' ./assets/img/footer/logo-no-hover.svg'
      "
      alt=""
    />

    <div>
      <h2 [class.active]="otherLayout">© Emre Iscan 2025</h2>
      <div>
        <h2 (click)="goToPage('/legal-notice')" [class.active]="otherLayout">
          {{ "footer.legal-notice" | translate }}
        </h2>

        <img src="./assets/img/3.png" alt="" />
      </div>
    </div>
  </div>
  <div class="footer-links">
    <div>
      <img
        [class.roll-out]="gitHubRoll"
        [class.roll-in]="!gitHubRoll && gitHubCountOne == 1"
        class="github-roll"
        src="./assets/img/footer/github.png"
        alt=""
      />
      <button
        (click)="openLink('https://github.com/EmreIscan-47')"
        [class.active]="otherLayout"
        (mouseenter)="rollIn(1)"
        (mouseleave)="rollOut(1)"
      >
        GitHub
      </button>
    </div>
    <div>
      <img
        [class.roll-out]="linkedInRoll"
        [class.roll-in]="!linkedInRoll && linkedInCountOne == 1"
        class="linked-in-roll"
        src="./assets/img/footer/linked-In.png"
        alt=""
      />
      <button
        (click)="openLink('https://www.linkedin.com/in/emre-is-919740301/')"
        [class.active]="otherLayout"
        (mouseenter)="rollIn(2)"
        (mouseleave)="rollOut(2)"
      >
        LinkedIn
      </button>
    </div>
    <div>
      <img
        [class.roll-out]="mailRoll"
        [class.roll-in]="!mailRoll && mailCountOne == 1"
        class="mail-roll"
        src="./assets/img/footer/mail.png"
        alt=""
      />
      <button
        (click)="openMail()"
        [class.active]="otherLayout"
        (mouseenter)="rollIn(3)"
        (mouseleave)="rollOut(3)"
      >
        Email
      </button>
    </div>
  </div>
</section>
