.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  @media (max-width: 750px) {
    flex-direction: column;
    justify-content: end;
    height: 180px;
  }
  @media (max-width: 400px) {
  }
  > div:first-of-type {
    margin-left: 120px;
    margin-bottom: 20px;
    @media (max-width: 1250px) {
      margin-left: 0;
      margin-bottom: 0;
    }
    @media (max-width: 750px) {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
    }

    > img {
      width: 37px;
      height: 40px;
    }
    > div {
      display: flex;
      flex-direction: column;
      > h2 {
        font-weight: 500;
        font-size: 18px;
        color: white;
        width: 200px;
        @media (max-width: 750px) {
          text-align: end;
        }
        @media (max-width: 500px) {
          font-weight: 400;
        }
      }
      > div {
        position: relative;
        display: flex;
        flex-direction: column;
        > h2 {
          font-weight: 500;
          font-size: 18px;
          color: white;
          margin-block-end: 0.6rem;
          @media (max-width: 750px) {
            text-align: end;
          }
        }
        > img {
          position: absolute;
          width: 90px;
          top: -5px;
    
          margin-left: 15px;
          clip-path: inset(0 100% 0 0);

          transition: clip-path 0.3s ease;
            @media (max-width: 750px) {
              top: 0;
              left: 90px;
   }
        }
        &:hover > img {
          clip-path: inset(0 0 0 0);
        }
      }
    }
  }
  > div:last-of-type {
  }
}

.footer-links {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: 200px;
  width: 100%;

  margin-right: 80px;
  margin-bottom: 20px;
  @media (max-width: 1250px) {
    justify-content: space-between;
    gap: 0;
    padding-left: 0;
  }
  @media (max-width: 750px) {
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > img {
      width: 32px;
      transition: all 0.2s;
      opacity: 0;

      > img.roll-out {
        animation: roll-out 0.2s ease-out forwards;
      }

      > img.roll-in {
        animation: roll-in 0.2s ease-in forwards;
      }
    }
    > button {
      width: 100px;
      height: 40px;
      font-weight: 500;
      font-size: 18px;
      color: white;
      background-color: transparent;
      border-radius: 30px;
      border: 0px solid transparent;
      box-shadow: inset 0 0 0 0 #3355ff;
      transition: ease-in 0.3s;
      &:hover {
        box-shadow: inset 250px 0 0 0 #3355ff;
      }
    }
  }
}



     
.github-roll.roll-in {
 animation: roll-in 0.3s ease-in forwards;
}

.linked-in-roll.roll-in{
 animation: roll-in 0.3s ease-in forwards;
}

.mail-roll.roll-in{
 animation: roll-in 0.3s ease-in forwards;
}

.github-roll.roll-out {
 animation: roll-out 0.3s ease-out forwards;
}

.linked-in-roll.roll-out {
 animation: roll-out 0.3s ease-out forwards;
}

.mail-roll.roll-out {
 animation: roll-out 0.3s ease-out forwards;
}


@keyframes roll-out {
  0% {
    transform: translateX(20px) rotate(90deg);
  }

  50% {
    transform: translateX(30px) rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: translateX(60px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes roll-in {
  0% {
    transform: translateX(60px) rotate(-90deg);
  }

  50% {
    transform: translateX(30px) rotate(-180deg);
    opacity: 0.5;
  }

  100% {
    transform: translateX(20px) rotate(-360deg);
    opacity: 0;
  }
}
