.section-legal-notice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header-legal-notice {
    display: flex;
    flex-direction: column;
    width: 100%;
   height: 350px;
   gap: 100px;
   background-image: url("/assets/img/legal-privacy/first-background.png");
    background-size: cover;
    background-position: bottom;

    >h1 {
        color: white;
        padding-left: 120px;
        padding-top: 50px;
        font-size: 44px;
    }
}

.legal-notice-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-legal-notice {
   
}