<section class="section-legal-notice">
  <div class="header-legal-notice">
    <app-header></app-header>
    <h1>Legal Notice</h1>
  </div>
  <div class="legal-notice-content">
    <div>
    <h1>Impressum</h1>

<p>Emre Iscan<br />
Sophienring 26<br />
71560 Sulzbach an der Murr</p>

<h2>Kontakt</h2>
<p>Telefon: 015115474700<br />
E-Mail: iscan.connect&#64;outlook.de</p>

<p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
  </div>

  <div class="footer-legal-notice">
    <app-footer [otherLayout]="showOtherLayout"></app-footer>
  </div>
</section>
