<section class="header-shadow"></section>
<section class="section-legal-notice">
  <div class="header-legal-notice">
    <div>
      <app-header [otherLayout_2]="showOtherLayout"></app-header>
      <h1>{{ "legal-notice" | translate }}</h1>
    </div>
  </div>
  <div class="legal-notice-content">
    <div>
      @if (!isGermanActive) {
      <h1>Legal Notice</h1>

      <p>
        Emre Iscan<br />
        Sophienring 26<br />
        71560 Sulzbach an der Murr
      </p>

      <h2>Contact</h2>
      <p>
        Phone: +49 15115474700<br />
        E-mail: connect&#64;emre-iscan.com
      </p>
      } @else {
      <h1>Impressum</h1>

      <p>
        Emre Iscan<br />
        Sophienring 26<br />
        71560 Sulzbach an der Murr
      </p>

      <h2>Kontakt</h2>
      <p>
        Telefon: +49 15115474700<br />
        E-Mail: connect&#64;emre-iscan.com
      </p>
      }
    </div>
  </div>

  <div class="footer-legal-notice">
    <app-footer [otherLayout]="showOtherLayout"></app-footer>
  </div>
</section>
